/*
Red: F71430
Blue: 148291
Aqua: 7CD7B8
Cream: FFFFCD

*/

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFFFCD;
}

/*h1 {
	padding: 0.3em;
}*/

#code-container {
	overflow: auto;
}

.input-name {
	margin-bottom: 2px;
	font-size: 120%
}

#download {
	text-align: right;
}

input[type='checkbox'] {
		-webkit-appearance:none;
		width:20px;
		height:20px;
		background:white;
		border-radius:5px;
		border:2px solid #555;
		margin-bottom: 0;
}

input[type='checkbox']:checked {
		background: #abd;
}

/*input[type='submit'] {
		-webkit-appearance:none;
		width:150px;
		height:40px;
		background:white;
		border-radius:5px;
		border:2px solid #555;
}
input[type='submit']:hover {
		background: #abd;
		color: white;
}*/

.brand {
	font-family: 'Damion', cursive;
}

.display {
	font-family: 'Expletus Sans', cursive;
}

.blueheader {
	color: #148291;
}

.aquaheader {
	color: #7CD7B8;
}

.whiteheader {
	color: #FFFFCD;
}

.redcallout {
	color: #F71430;
}

.bluetop {
	border-top: 2px solid #148291;
}

.centered {
	text-align: center;
}
