body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
}

#App {
  position: relative;
  width: 833px;
  height: 544px;
}

#Gulpview {
  width: 604px;
  height: 414px;
  top: 30px;
  left: 7px;
  background-color: lightSeaGreen;
}

#Packagejson {
  width: 394px;
  height: 411px;
  top: 32px;
  left: 420px;
}

#download-files {
  margin-top: 5%;
}
