html {
	margin: 0 auto;
}

body {
	background-color: orangered;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	width: 100%;
}

.list {
	margin-top: 60px;
	color: rgba(27, 19, 0, 0.9);
	font-size: 20px;
	font-weight: 800;
}
